<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intellilabs.zerosnapscanner">

    <application tools:node="merge">
        <activity android:name=".InitActivity"
            android:theme="@style/DialogActivity"></activity>
        <activity android:name=".ZerosnapScannerActivity" />
        <activity android:name=".SubscriptionActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razor_pay_key" />
    </application>

</manifest>